[submodule "pack/core/start/which-key"]
	path = pack/core/start/which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "pack/core/start/lastplace"]
	path = pack/core/start/lastplace
	url = https://github.com/farmergreg/vim-lastplace.git

[submodule "pack/editor/opt/org"]
	path = pack/editor/opt/org
	url = https://github.com/axvr/org.vim.git
